@import url('https://fonts.googleapis.com/css2?family=Inter+Tight:wght@400;600&family=Poppins:wght@400;500;600&family=Roboto:wght@500&display=swap');


.activity {
    box-shadow: rgba(100, 100,    111, 0.2) 0px 7px 29px 0px;
    border-radius: 20px;
    position: relative;

}

.pose-img img {
    width: 100%;
    border-radius: 20px 20px 0 0;
}

.pose-info {
    font-family: 'Poppins';
    padding: 30px;
    position: relative;
    bottom: 35px;
}

.add-btn {
    width: 100%;
    padding: 15px;
    font-family: 'Poppins';
    font-size: large;
    font-weight: 600;
    background-color: #647E68   ;
    border: none;
    border-radius: 0 0 20px 20px;
    color: white;
    position: absolute;
    bottom: 0;
}
.add-btn:hover {
    background-color: #D2D79F;
}