@import url('https://fonts.googleapis.com/css2?family=Inter+Tight:wght@400;600&family=Poppins:wght@400;500;600&family=Roboto:wght@500&display=swap');

.profile {
    text-align: center;
}

.pro-img {
    width: 20%;
    border-radius: 50%;
}

.details {
    position: sticky;
    top: 0;
    /* right: 100px; */
    padding: 50px;
    background-color: #D8D8D8;
    border-radius: 20px;

}

.physical-info {
    display: flex;
    gap: 40px;
    align-items: center;
    justify-content: center;
}

h1 {
    font-family: 'Poppins';
    font-weight: 600;
}

p {
    font-family: 'Poppins';
}

.break {
    text-align: center;
    padding: 20px;
}

.break-btn {
    font-family: 'Poppins';
    border: none;
    border-radius: 50%;
    padding: 10px;
    background-color: #647E68;
    color: white;
    margin-right: 5px;
}

.break-btn:hover {
    background-color: #D2D79F;
}



.exercise-time,
.break-time {
    /* font-weight: 100; */
    background-color: #182747;
    padding: 5px 15px;
    margin-bottom: 10px;
    border-radius: 10px;
    color: white;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.complete-btn {
    width: 100%;
    margin-top: 20px;
    padding: 15px 20px;
    background-color: #647E68;
    border: none;
    border-radius: 10px;
    color: white;
    font-weight: bolder;
    font-size: 20px;


}

.complete-btn:hover {
    background-color: #D2D79F;
}

@media screen and (max-width:767px) {


    .exercise-time,
    .break-time {
        flex-direction: column;
    }



}