@import url('https://fonts.googleapis.com/css2?family=Inter+Tight:wght@400;600&family=Poppins:wght@400;500;600&family=Roboto:wght@500&display=swap');



.reveal p{
    font-size: 30px;
    text-align: center;
    font-weight: bolder;
}
.questions {
    margin: 5% 15% 15% 15%;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 100px;
}

.question {
    box-shadow: rgba(50, 50, 93, 0.25) 0px 50px 100px -20px, rgba(0, 0, 0, 0.3) 0px 30px 60px -30px;
    padding: 40px;
    border-radius: 20px;
    background-color: #EEF2E6;
}

.question h1 {
    text-align: center;
}

p {
    font-size: 18px;
}

@media screen and (max-width : 767px) {

    .questions {
        margin: 10% 2%;
        display: grid;
        grid-template-columns: repeat(1, 1fr);
        gap: 50px;
    }

    .question {
        box-shadow: rgba(50, 50, 93, 0.25) 0px 50px 100px -20px, rgba(0, 0, 0, 0.3) 0px 30px 60px -30px;
        padding: 20px;
        border-radius: 20px;
        background-color: #EEF2E6;
    }
}