.nav{
    /* margin: 2%; */
    
    background-color: #182747;
    color: white;
    padding: 40px;
    display: flex;
    justify-content: space-around;
    align-items: center;
}
.nav h1{
    font-size: 40px;
    margin: 0;
}
.nav a{
    text-decoration: none;
    color: white;
    font-size: 20px;
    margin-right: 30px;

}

@media screen and (max-width:767px) {

    .nav a{
        display: none;
    }
    
}