@import url('https://fonts.googleapis.com/css2?family=Inter+Tight:wght@400;600&family=Poppins:wght@400;500;600&family=Roboto:wght@500&display=swap');



.nav{
    
    background-color: #182747;
    color: white;
    padding: 20px;
    display: flex;
    justify-content: space-around;
    align-items: center;
}
.logo img{
    width: 80%;
}
.nav a{
    font-family: 'Poppins';
    text-decoration: none;
    color: white;
    font-size: 20px;
    margin-right: 30px;

}

@media screen and (max-width:767px) {

    .nav a{
        display: none;
    }
    
}